@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.wrk-btn {
    background-color: black;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    display: inline-block; /* Ensure size depends on content */
    padding: 15px 40px; /* Control padding for text size */
    position: relative; /* Needed for pseudo-element positioning */
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    z-index: 1;
    transition: transform 0.3s ease; /* Smooth transition for movement */
}

.wrk-btn::after {
    content: ""; /* Create an empty pseudo-element */
    position: absolute;
    top: 7px; /* Adjust to match shadow offset */
    left: 7px; /* Adjust to match shadow offset */
    width: calc(100% - 5px); /* Add shadow width */
    height: calc(100% - 5px); /* Add shadow height */
    border: 3px solid rgb(0, 0, 0); /* Outline color and thickness */
    pointer-events: none; /* Make sure the outline doesn't interfere with interactions */
    z-index: -1; /* Place it behind the button */
    transition: transform 0.3s ease; /* Smooth transition for fading */
}

.wrk-btn:hover {
    transform: translate(7px, 7px); /* Move the button to the shadow position */
}

.wrk-btn:hover::after {
    transform: translate(-7px, -7px);
}
